*{
    box-sizing: border-box;
}
header{
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.booking-container>h1{
    font-size: 48px;
    color: white;
}
.header-actions-wrapper{
    display: flex;
}
.logo{
    width: 100px;
    height: 40px;
    background-image: url(../assets/icons/logo.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 64px;
}
.header-links{
    display: flex;
    align-items: center;
}
.header-links>a{
    margin-right: 32px;
    height: fit-content;
    color: #222;
    text-decoration: none;
    font-weight: 600;
    
}
.profile{
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile>a{
    text-decoration: none;
    color: #222;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#user-img{
    background-image: url(../assets/img/portrait.avif);
    background-size: cover;
    background-position: center;
    border-radius: 100px;
    width: 28px;
    height: 28px;
    margin-right: 8px;
}
.booking-container{
    width: 90vw;
    height: fit-content;
    padding: 36px;
    border-radius: 12px;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 48px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
#flights-search-bar{
    display: flex;
    width: 80%;
    background-color: #fff;
    border-radius:12px;
    border: 1px solid #d4d4d4;
}
#flights-search-bar>input, #flights-search-bar>select, #return, #depart{
    width: 224px;
    height: 64px;
    margin-right: 2px;
    outline: none;
    border: 0;
    background:white;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #666;
}
#flights-search-bar>select:nth-child(1){
    border-radius: 12px 0 0 12px;
}
.search{
    width: 100px;
    border: 0;
    background-color: #0c73fe;
    border-radius: 0 12px 12px  0;
}
.booking-container>h1{
    width: 80%;
}
.title{
    display: flex;
    width: fit-content;
    font-size: 32px;
    font-weight: 600;
    margin-left: 96px;
    margin-right: 10vw;
}
.title>span{
    margin-left: 8px;
}
.flight{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 25%;
}
.options{
    display: flex;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    align-items: center;
    margin-top: 64px;
    padding: 36px;
    border: 1px solid #d4d4d4;
    border-radius: 1rem;
}
.companyLogoContainer{
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.companyLogo{
    width: 32px;
    height: 32px;
    border-radius: 100px;
    margin-right: 8px;
}
.tag{
    margin-left: auto;
    color: white;
    font-weight: 600;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #0c73fe;
    font-size: 14px;
    border-radius: 4px;
}
.companyLogoContainer>p{
    font-size: 20px;
    font-weight: 600;
}
.flight-time{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.left-time>h3, .right-time>h3{
    font-size: 24px;
    margin-bottom: 0px;
    width: 80px;
}
.left-time{
   margin-right: 16px;
}
.right-time{
    margin-left: 16px;
}
.depart-date{
    font-size: 12px;
    color: #949494;
}
.divider{
    height: 1px;
    width: 100%;
    background-color: #6666;
    padding-left: 8px;
    padding-right: 8px; 
}
.divider-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.divider-container>p{
    margin-top: 14px;
    color: #949494;
}
.plane-tag{
    padding: 8px;
    display: flex;
    border: 4px solid #0c73fe;
    align-items: center;
    border-radius: 12px;
    margin-top: 36px;
}
.plane-tag>p{
    font-weight: 600;
    height: fit-content;
}
.plane-tag>p:nth-child(2){
    margin-right: auto;
}
.plane-tag>p:nth-child(3){
    color: #0c73fe;
    height: fit-content;
}
.option-1, .option-2, .option-3{
    background-color: #e8ecf14d;
    width: 25%;
    height: 233px;
    border-radius: 1rem;
    padding: 16px;
    margin-left: 48px;
    display: flex;
    flex-direction:column ;
    justify-content: space-between;
}
.option-1>h2, .option-2>h2, .option-3>h2{
    font-size: 36px;
    margin-top: auto;
    margin-bottom: 0;
}
.flight-type>p{
    font-weight: 600;
}
.flight-type{
    display: flex;
}
.flight-type>img{
    width: 20px;
    height: 20px;
}
.flight-type>img:nth-child(2){
    margin-left: auto;
    margin-right: 8px;
}
.flight-type>img:nth-child(3){
    margin-right: 8px;
}
.option-1>.flight-type>img:nth-child(3){
    opacity: 0.3;
}
.option-3{
    background-color: #0c75fe3a;
}