*{
    box-sizing: border-box;
}
header{
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.booking-container>h1{
    font-size: 48px;
    color: white;
}
.header-actions-wrapper{
    display: flex;
}
.logo{
    width: 100px;
    height: 40px;
    background-image: url(../assets/icons/logo.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 64px;
}
.header-links{
    display: flex;
    align-items: center;
}
.header-links>a{
    margin-right: 32px;
    height: fit-content;
    color: #222;
    text-decoration: none;
    font-weight: 600;
    
}
.profile{
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile>a{
    text-decoration: none;
    color: #222;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#user-img{
    background-image: url(../assets/img/portrait.avif);
    background-size: cover;
    background-position: center;
    border-radius: 100px;
    width: 28px;
    height: 28px;
    margin-right: 8px;
}
.profileContainer{
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 128px;
    flex-direction: column;
}
.user-img-lg{
    width: 72px;
    height: 72px;
    border-radius: 999px;
    background-image: url(../assets/img/portrait.avif);
    background-position: center;
    background-size: cover;
}
.profilehead{
    display: flex;
    width: 60%;
    align-items: center;
}
.profile-head-wrapper {
    margin-left: 32px;
}
.profile-head-wrapper>h3{
    margin:0;
    font-size: 24px;
}
.profile-head-wrapper>p{
    color: #999;
}
.edit{
    width: 24px;
    height: 24px;
    margin-left: auto;
}
.profile-body{
    width: 60%;
    height: fit-content;
    background-color: #e8ecf14d;
    margin-top: 32px;
    border-radius: 1rem;
    padding: 24px;
}
.menu-element{
    display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 12px;
        border-bottom: 1px solid #D4d4d4;
        margin-bottom: 14px;
}
.profile-body>h2{
    margin-top: 0;
}
.logout{
    margin-top: 16px;
    width: 60%;
    height: 48px;
    background-color: #e8ecf14d;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logout>img{
    margin-right: 12px;
}